[package]
name = "yenc"
version = "0.1.2-alpha.0"
authors = ["aswaving <a.swaving@gmail.com>"]
description = "Encodes and decodes using the yEnc encoding."
repository = "https://github.com/aswaving/yenc"
documentation = "https://docs.rs/yenc/0.1.0/yenc/"
categories = ["encoding"]
keywords = ["yenc", "encode", "decode"]
license = "MIT"
autobenches = false

[dependencies]

[profile.release]
debug = true

[dev-dependencies]
criterion = "0.2.10"
rand = "0.6.5"
lazy_static = "1.3.0"

[[bench]]
name = "encode"
harness = false

[[bench]]
name = "decode"
harness = false
